@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br />
<div class="text-center">
    <h1 class="display-4">Unleash Your Culinary Creativity</h1>
    <p>Discovering and creating delicious recipes that will tantalize your taste buds!</a>.</p>
</div>
<div class="row">
    <div class="col-lg-11 mx-auto">
        <div class="row py-5 block">
            <a class="col-lg-4" href="/RecipePage?SearchString=&RecipeCategory=Main+Dish">
                <!-- Item -->
                <figure class="caption-3 mb-0 shadow-sm p-3 bg-white">
                    <img src="https://img.taste.com.au/WMldfrFD/taste/2016/11/chicken-and-prosciutto-parmigiana-79468-1.jpeg" alt="" class="w-100">
                    <figcaption class="px-5 py-3 bg-white shadow-sm">
                        <h2 class="h5 mb-1 font-weight-bold font-italic text-black">Main Dishes</h2>
                    </figcaption>
                </figure>

            </a>

            <a class="col-lg-4" href="/RecipePage?SearchString=&RecipeCategory=Side+Dish">
                <!-- Item -->
                <figure class="caption-3 mb-0 shadow-sm p-3 bg-white" >
                            <img src="https://th.bing.com/th/id/R.e66b846b49be8f6c87d1e31c120e392f?rik=%2bRH4WW5DiOQ3cw&riu=http%3a%2f%2fdel.h-cdn.co%2fassets%2f16%2f19%2f1462904293-delish-corn-salad.jpg&ehk=UVV%2fVRXbya7q%2bW%2bW%2f0En8nLcT2lSYcXtxIDaYDlI9nU%3d&risl=1&pid=ImgRaw&r=0" alt="" class="w-100">
                    <figcaption class="px-5 py-3 bg-white shadow-sm">
                        <h2 class="h5 mb-1 font-weight-bold font-italic text-black">Side Dishes</h2>
                    </figcaption>
                </figure>

            </a>
            <a class="col-lg-4" href="/RecipePage?SearchString=&RecipeCategory=Dessert">
                <!-- Item -->
                <figure class="caption-3 mb-0 shadow-sm p-3 bg-white">
                    <img src="https://i.pinimg.com/originals/1f/1b/93/1f1b93e61981b95d47d97eaa4206101f.jpg" alt="" class="w-100">
                    <figcaption class="px-5 py-3 bg-white shadow-sm">
                        <h2 class="h5 mb-1 font-weight-bold font-italic text-black">Desserts</h2>
                    </figcaption>
                </figure>

            </a>
        </div>
    </div>
</div>


