@page
@model RecipeApp.Pages.RecipePage.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete your <span class="text-danger">@Html.DisplayFor(model => model.Recipe.Name) </span> recipe?</h3>
<div>
    <br />
    <form method="post">
        <input type="hidden" asp-for="Recipe.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
