@page
@model RecipeApp.Pages.RecipePage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Name" class="control-label"></label>
                <input asp-for="Recipe.Name" class="form-control" />
                <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Description" class="control-label"></label>
                <textarea asp-for="Recipe.Description" class="form-control" style="height: 200px;"></textarea>
                <span asp-validation-for="Recipe.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Portions" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Recipe.Portions" class="form-control" aria-describedby="portions-addon" />
                    <span class="input-group-text" id="portions-aadon">portions</span>
                </div>
                <span asp-validation-for="Recipe.Portions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.PrepareTime" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Recipe.PrepareTime" class="form-control" aria-describedby="preparetime-addon" />
                    <span class="input-group-text" id="preparetime-addon">minutes</span>
                </div>
                <span asp-validation-for="Recipe.PrepareTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Recipe.Category" class="control-label"></label>
                <select asp-for="Recipe.Category" asp-items="Model.Categories" class="form-select">
                    <option value="">-- Select a category --</option>
                </select>
            </div>
            <div class="form-group">
                <label for="imageFile">Image:</label>
                <input type="file" id="imageFile" name="ImageFile" class="form-control-file form-control" accept="image/*" asp-for="ImageFile">
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Еdit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
